<div class='text-center'>
  <h2>My Coworkings</h2>
</div>

<div class="container mt-2">
  <div class="row">
  <% if @user.coworkings == [] %>
    <h2>No founded places</h2>
  <% else %>
    <% @user.coworkings.each do |coworking| %>
        <div class="col-md-4 mb-4">
          <%= link_to coworking_path(coworking) do %>
            <div class="card h-100 radius bg-white p-3 shadow">
              <div class="image-container" style="height: 300px; overflow: hidden;">
                <%= image_tag coworking.image, class: "img-fluid", style: "object-fit: cover; height: 100%; width: 100%;" %>
              </div>
              <div class="card-body">
                <p><strong><%= coworking.title %></strong></p>
                <p><%= coworking.address %></p>
                <p><%= "$ #{coworking.price}" %></p>
                <p><%= coworking.description %></p>
                <div class="button-container">
                  <%= link_to 'Edit', edit_coworking_path(coworking), class: "btn btn-dark" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="text-center mb-4">
  <%= link_to "Add a new coworking", new_coworking_path, class: 'btn btn-info'  %>
</div>


<div class="text-center">
<h2>My reservations</h2>
</div>

<div class="container mt-2">
  <div class="row">
  <% if @user.coworkings == [] %>
    <h2>No founded places</h2>
  <% else %>
      <% @user.rents.each do |rent| %>
        <div class="col-md-4 mb-4">
          <%= link_to coworking_path(rent.coworking) do %>
            <div class="card h-100 radius bg-white p-3 shadow">
              <div class="image-container" style="height: 300px; overflow: hidden;">
                <%= image_tag rent.coworking.image, class: "img-fluid", style: "object-fit: cover; height: 100%; width: 100%;" %>
              </div>
              <div class="card-body">
                <p><strong><%= rent.coworking.title %></strong></p>
                <p><%= rent.coworking.address %></p>
                <p><%= "$ #{rent.coworking.price}" %></p>
                <p><%= rent.coworking.description %></p>
                <p><%= rent.start_date%> / <%= rent.end_date %></p>
                <div class="button-container">
                  <%= link_to 'Edit', edit_rent_path(rent), class: "btn btn-dark" %>
                  <%= link_to "Delete",
                    rent_path(rent), class: "btn btn-danger",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="text-center">
  <h2>My Coworkings status</h2>
</div>

  <div class="container mt-2">
    <div class="row">
      <% @rents.each do |rent| %>
        <div class="col-md-4 mb-4">
          <%= link_to coworking_rent_path(rent.coworking, rent), class: 'text-decoration-none' do %>
            <div class="card h-100 rounded bg-white p-3 shadow">
              <div class="image-container" style="height: 300px; overflow: hidden;">
                <%= image_tag rent.coworking.image, class: "img-fluid", style: "object-fit: cover; height: 100%; width: 100%;" %>
              </div>
              <div class="card-body">
                <p><strong><%= rent.coworking.title %></strong></p>
                <p><%= rent.coworking.address %></p>
                <p><%= "$ #{rent.coworking.price}" %></p>
                <p><%= rent.coworking.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
