<%= form_with url: searches_path, method: :get, class: 'navbar-form', role: 'search' do |f| %>
  <div class="input-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a place"
          %>
  <div class="input-group-append">
    <%= f.input :check_in, label: false, as: :string, input_html: { data: { controller: "datepicker"}, class: 'form-control flatpickr', placeholder: 'Check-in', autocomplete: 'off', style: 'width: 120px; margin-right: 5px;' } %>
  </div>

  <div class="input-group-append">
    <%= f.input :check_out, label: false, as: :string, input_html: { data: { controller: "datepicker"}, class: 'form-control flatpickr', placeholder: 'Check-out', autocomplete: 'off', style: 'width: 120px; margin-right: 5px;' } %>
  </div>

  <div class="input-group-append">
    <%= submit_tag "Search",
      name: "",
      class: "btn btn-outline-success"
    %>
  </div>
</div>
<% end %>
