<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-8 col-md-7">
      <div class="text-center bg-white radius p-3 shadow">
        <%= simple_form_for @coworking do |f| %>
            <%= image_tag @coworking.image, class: "img-fluid mb-3", style: "max-width: 100%;" %>
            <%= f.input :image %>
            <%= f.input :title %>
            <%= f.input :address %>
            <%= f.input :description %>
            <%= f.input :price %>
            <%= f.submit 'Update Coworking', class:"btn btn-info mb-3"%>
          <% end %>
            <%= link_to 'Back', profile_path, class:"btn btn-light ml-3"%>
      </div>
    </div>
  </div>
</div>
