<div class="banner">
  <h1>Nomad Desk</h1>
  <p>The best coworking spaces are here!</p>
</div>

<div class="row">
  <% @coworkings.each do |coworking| %>
  <div class="col-md-4 mb-4">
  <%=  link_to coworking_path(coworking) do %>
      <div class="card">
        <%= image_tag coworking.image, class: "card-img-top img-fluid" %>
        <div class="card-body">
          <p><strong><%= coworking.title %></strong></p>
          <p><%= coworking.address %></p>
          <p><%= "$ #{coworking.price}" %></p>
          <p><%= coworking.description %></p>
          <%= link_to 'Edit', edit_coworking_path(coworking), class:"btn btn-dark" %>
        </div>
      </div>
      <% end %>
  </div>
  <% end %>
</div>

<div>
  <%= link_to "Add a new coworking", new_coworking_path, class: 'btn btn-info'  %>
</div>
